{% extends 'back.html.twig' %}
{% block title %} Modifiez votre article {% endblock %}
{% block body %}


<div class="container m-5">
  <div class="row gap-2 justify-content-md-center text-center">
    <div class="col-4 p-5  ">
        <h3 class="fs-3 ">Modifiez votre article</h3>
        <img src="{{post.getPhotoUrl}}" width="250px" height="250px">
    </div>
    <div class="col-6 row gap-4">
        <form action="../public/form" method="post">
            <!-- titre input -->
            <div class="form-outline mb-4">
                <label class="form-label pt-5" for="form4Example1">Modifiez votre titre :</label>
                <input type="text" id="form4Example1" class="form-control" name="titre" value="{{post.getTitre}}" />
            </div>

            <!-- contenu input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example3">Modifiez votre contenu : </label>
                <textarea class="form-control" id="form4Example3" rows="4" name="contenu" >{{post.getContenu}}</textarea>
            </div>

            <!-- photo input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example2">Changez votre photo : </label>
                <input type="file" id="form4Example2" class="form-control" name="photo_url" />
            </div>
            <div class="form-outline mb-4">
            <input type="hidden" name="date_creation" value="{{post.getDate}}" >
            <input type="hidden" name="user_iduser" value="{{post.getAuteur}}">
            </div>
            <input type="hidden" name="idblogpost" value="{{post.getId}}">
            <input type="hidden" name="photo" value="{{post.getPhotoUrl}}">
            <input type="hidden" name="formulaire" value="updatePost">


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Envoyer</button>
        </form>
    </div>

    <h3>Zone Commentaires :</h3>
    <h6>Commentaires valide :</h6>
    <div class="p-5">
        {% for itemvalide in commentsvalide %}
            <div class="p-2 m-2">
                <div class="d-flex justify-content-between">
                    <h5>{{itemvalide.getAuteur}}</h5>
                    {{itemvalide.getDate|date("d/m/Y h:i", "Europe/Paris")}}
                </div>
                <div class="ps-5">
                {{itemvalide.getContenu}}
                </div>
            </div>
            <hr class="featurette-divider">

        {% endfor %}
    </div>
    <h6>Commentaires à valider :</h6>
    <div class="p-5">
        {% for itemnotvalide in commentsnotvalide %}
            <div class="p-2 m-2">
                <div class="d-flex justify-content-between">
                    <h5>{{itemnotvalide.getAuteur}}</h5>
                    {{itemnotvalide.getDate|date("d/m/Y h:i", "Europe/Paris")}}
                </div>
                <div class="ps-5">
                    {{itemnotvalide.getContenu}}
                    <div class="d-flex justify-content-end">
                        <a  href="homeback?back=homebackCommentValid&idcomments={{itemnotvalide.getIdComments}}&idblogpost={{itemnotvalide.getBlogpost}}" 
                            type="button" class="btn btn-primary">Valider</a>
                    </div>
                </div>
            </div>
            <hr class="featurette-divider">

        {% endfor %}
    </div>
    <div class="d-flex justify-content-end">
        <a  href="homeback?back=homebackDel&idblogpost={{post.getId}}" 
            type="button" class="btn btn-danger">Supprimer mon article</a>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% endblock %}