{% extends "base.html.twig" %}
{% block title %}Personnes du Carnet{% endblock %}
{% block head %}
<link rel="stylesheet" href="static/css/tabstyle.css" />
{% endblock %}

{% block body %}

<h2>{{titre}}</h2>
<table id="" class="" >
<tr>
    <td>numero</td>
    <td>Nom</td>
    <td>Prenom</td>
    <td>Age</td>
    <td>Ville</td>
    <td>Ville</td>
    <td>Ville</td>
</tr>
{% for infoPost in post %}
    
    {{infoPost.titre}}
    {{infoPost.contenu}}
    {{infoPost.date_creation}}
    {{infoPost.iduser}}
    {{infoPost.photo_url}}

{% endfor %}
</table>
{% endblock %}