{% extends 'base.html.twig' %}
{% block title %} Post {% endblock %}
{% block body %}
{% for infoPost in post %}
    <div class="container p-5">
        <div class="d-flex summary">
            <img class="summary-image img-suqare img-responsive pull-right" 
            alt="Bootstrap template" src="{{infoPost.photo_url}}" width="500px" height="500px">
            <div class="p-4">
                <h2 class="summary-heading"> {{infoPost.titre}} </h2>
                <p class="lead"> {{infoPost.contenu}} </p>
                <p>crée le {{infoPost.date_creation}} par l'utilisateur n° {{infoPost.user_iduser}}</p>
            </div>
        </div>
        <div class="p-5 m-5">
            <h3>Zone Commentaire :</h3>

            <form class="border border-dark p-5 " action="../public/form" method="post">
            <h4>Donnez nous votre avis </h4>

                <!-- pseudo input -->
                <div class="form-outline m-2">
                    <label class="form-label" for="form4Example2">Pseudo : </label>
                    <input type="text" name="pseudo" id="form4Example2" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Commentaire :</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <input type="hidden" name="formulaire" value="addComment">
                <input type="hidden" name="idBlogPost" value="{{infoPost.idblogpost}}">
                <input type="hidden" name="idUser" value="{{infoPost.user_iduser}}">

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block m-2">Envoyé</button>
            </form>
        </div>
    </div>
{% endfor %}
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% endblock %}
