{% extends 'base.html.twig' %}
{% block title %} Post {% endblock %}
{% block body %}

    <div class="container p-5">
        <div class="d-flex summary">
            <img class="summary-image img-suqare img-responsive pull-right" 
            alt="Bootstrap template" src="{{post.getPhotoUrl}}" width="500px" height="500px">
            <div class="p-4">
                <h2 class="summary-heading"> {{post.getTitre}} </h2>
                <p class="lead"> {{post.getContenu}} </p>
                <p>crée le {{post.getDate}} par l'utilisateur n° {{post.getAuteur}}</p>
            </div>
        </div>
        <div class="p-5 m-5">
            <h3>Zone Commentaire :</h3>
            <div class="p-5">
                {% for item in comments %}
                    <div class="p-2 m-2">
                        <div class="d-flex justify-content-between">
                            <h5>{{item.getAuteur}}</h5>
                            {{item.getDate}}
                        </div>
                        <div class="ps-5">
                        {{item.getContenu}}
                        </div>
                    </div>
                    <hr class="featurette-divider">

                {% endfor %}
            </div>

            <form class="border border-dark p-5 " action="../public/form" method="post">
            <h4>Donnez nous votre avis </h4>

                <!-- pseudo input -->
                <div class="form-outline m-2">
                    <label class="form-label" for="form4Example2">Pseudo : </label>
                    <input type="text" name="autheur" id="form4Example2" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Commentaire :</label>
                    <textarea class="form-control" name="contenu" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <input type="hidden" name="formulaire" value="addComment">
                <input type="hidden" name="blogpost_idblogpost" value="{{post.getId}}">
                <input type="hidden" name="user_iduser" value="{{post.getAuteur}}">

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block m-2">Envoyé</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% endblock %}
